name: build-and-test

on:
  push:
    branches:
      - main
      - ${{ github.ref_name }} 

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install poetry
      run: |
          curl -sSL https://install.python-poetry.org | python3 -
          pip install poetry
    - name: Install dependencies
      run: |
          poetry install
    - name: Install pytest
      run: |
          pip install pytest
    - name: Test with pytest
      run: make test-all
